

p {
   color: white;
   font-size: 24px;
   text-align: left;
}
li {
    color: white;
    font-size: 16px;
    text-align: left;
}
h1 {
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: red;

}
h2 {
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: red;

}
body {

    color: white;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}
