

p {
   color: white;
   font-size: 24px;
   text-align: left;
}
li {
    color: white;
    font-size: 16px;
    text-align: left;
}
h1 {
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: red;

}
h2 {
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: red;

}
h3 {
    text-align: left;
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: red;

}
a:link {
    color: darkblue;
}

/* visited link */
a:visited {
    color: darkblue;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
body {

    color: white;
    background-image: url("testback.jpg");
    background-repeat: repeat-y;
}
