

p {
   color: white;
   font-size: 24px;
   text-align: left;
}
li {
    color: white;
    font-size: 16px;
    text-align: left;
}
body {

    color: white;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}
